.main_container {
    margin-top: 3rem;
        padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}


@media (min-width: 1400px) {
    .main_container {
        max-width: 1400px;
    }
}