mat-card {
    border-color: var(--border-color);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    box-shadow: none;
    padding: 1rem 1.5rem;
    gap: 1rem;
    height: 100%;
    background-color: white;
}

mat-card-title {
    color: var(--font-color-dark)!important;
    font-size: 1.2rem;
    font-weight: bold;
}

.card__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--border-color)!important;
}

.material-icons {
    overflow: visible;
}